<nav class="flex justify-between items-center bg-[#02050a] text-white px-[17rem] py-[1.75rem] h-[7rem]">
    <div id="logo">
        <a class="text-[1.2rem] nav-link">DigiTech.com</a>
    </div>
    <div class="flex gap-10">
        <a href="/" class="nav-link text-[--primary-clr]">Home</a>
        <a href="/" class="nav-link ">About</a>

        <!-- ------------------------------------ -->
        <div class="relative dropdown">
            <button
                class="nav-link text-white text-[1.2rem] hover:text-[--primary-clr] focus:outline-none dropbtn">
                Services<i class="ri-arrow-down-s-line font-bold"></i>
            </button>
            <div class="hidden absolute right-0  w-48 bg-white border rounded shadow-md dropdown-content">
                <a href="#"
                    class="block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">Website
                    Development</a>
                <a href="#" border-x-8
                    class="block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">App
                    Development</a>
                <a href="#"
                    class="block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">Website
                    maintenance</a>
                <a href="#"
                    class="block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">Digital
                    Marketing</a>
            </div>
        </div>

        <div class="relative dropdown">
            <button
                class="nav-link text-white text-[1.2rem] hover:text-[--primary-clr] focus:outline-none dropbtn">
                Products<i class="ri-arrow-down-s-line font-bold"></i>
            </button>
            <div class="hidden absolute right-0  w-48 bg-white border rounded shadow-md dropdown-content">
                <a href="#"
                    class="uppercase block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">Google
                    Workspace</a>
                <a href="#"
                    class="uppercase block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">AZURE
                    Account</a>
                <a href="#"
                    class="uppercase block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">AWS
                    Account</a>
                <a href="#"
                    class="uppercase block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">Canva
                    PRO</a>
                <a href="#"
                    class="uppercase block px-4 py-2 text-gray-800 hover:bg-[--primary-clr] duration-100 font-semibold">RDP</a>
            </div>
        </div>

        <!-- ------------------------------------ -->

        <a href="/" class="nav-link">Contact Us</a>
    </div>
    <div>
        <a href="" class="text-[1.2rem] bg-[--primary-clr] px-8 py-3 text-black font-semibold">
            Let's Talk <i class="ri-arrow-up-line font-bold text-xl"></i>
        </a>
    </div>
</nav>