@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    color: white;
}

.nav-link{
    font-size: 1.2rem;    
    font-weight: 500;
    
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    transition: all 0.2s linear;
    border-bottom: 4px solid transparent;
}
.nav-link:hover{
    color: var(--primary-clr);
    border-bottom: 4px solid var(--primary-clr);
}

.dropdown:hover .nav-link{
    color: var(--primary-clr);
}

.my-text-stroke{
    -webkit-text-stroke: 2px var(--primary-clr);
}
.my-text-stroke-2{
    -webkit-text-stroke: 2px var(--gray-txt);
}

/* --------- circular text ---------  */
.circular-text {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circular-text span {
    position: absolute;
    transform-origin: 100px 100px;
    /* Center of the circle */
    font-size: 9px;
    white-space: pre;   
    /* Preserve spaces */
}
/* --------- circular text ---------  */

:root{
    --primary-clr: #55e6a5;
    --primary-bg: #02050a;
    --gray-txt: #35373b;
}
